{% extends "base.html" %}
{% load i18n %}

{% block title %}Home{% endblock title %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="s12 m12 col">
      <h3 class="center-align">{% trans "Beer Processes" %}</h3>
    </div>
  </div>
</div>

<div class="container">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <div><i class="material-icons">chevron_right</i>Red Ale</div>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <div class="s12 m6 col">
            <ul>
              <li><span class="bold">{% trans "Initialized at:" %}</span> 5 de dezembro de 2015</li>
              <li><span class="bold">{% trans "Finalized at:" %}</span> ---</li>
              <li><span class="bold">{% trans "Recipe description:" %}</span> 5.84% teor de álcool</li>
              <li><span class="bold">{% trans "Malt:" %}</span> 75% Pilsen, 10% Malte de trigo, 10% CaraAmber, 5% CaraAroma</li>
              <li><span class="bold">{% trans "Yeast:" %}</span> BRY-97</li>
            </ul>
          </div>
          <div class="s12 m6 col center">
            <a href="{% url 'monitoring' %}" class="btn">{% trans "Real-time monitoring" %}</a>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
          <div><i class="material-icons">check</i>Red Ale</div>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <div class="s12 m6 col">
            <ul>
              <li><span class="bold">{% trans "Initialized at:" %}</span> 5 de dezembro de 2015</li>
              <li><span class="bold">{% trans "Finalized at:" %}</span> 24 de dezembro de 2015</li>
              <li><span class="bold">{% trans "Recipe description:" %}</span> 5.84% teor de álcool</li>
              <li><span class="bold">{% trans "Malt:" %}</span> 75% Pilsen, 10% Malte de trigo, 10% CaraAmber, 5% CaraAroma</li>
              <li><span class="bold">{% trans "Yeast:" %}</span> BRY-97</li>
            </ul>
          </div>
          <div class="s12 m6 col center">

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock main_content %}