{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New Process" %}{% endblock title %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="s12 m12 col">
      <h3 class="center-align">{% trans "New Process" %}</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="s12 m6 col">
      <div class="card">
        <div class="card-content">
          <span class="card-title brown-text">Red Ale</span>

          <p class="recipe-item"><span class="bold">{% trans "Recipe description:" %}</span><br> 5.84% teor de álcool</p>

          <p class="recipe-item"><span class="bold">{% trans "Malt:" %}</span> 5kg <br> 75% Pilsen, 10% Malte de trigo, 10% CaraAmber, 5% CaraAroma</p>

          <p class="recipe-item"><span class="bold">{% trans "Yeast:" %}</span><br> BRY-97</p>

          <p class="recipe-item"><span class="bold">{% trans "Hops:" %}</span><br>
          <ul>
            <li>Hop1</li>
            <li>Hop2</li>
          </ul></p>

          <div class="center">
            <a href="" class="btn">Start Process</a>
          </div>
        </div>
      </div>
    </div>
    <div class="s12 m6 col">
      <div class="card">
        <div class="card-content">

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}