{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New Process" %}{% endblock title %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="s12 m12 col">
      <h3 class="center-align">{% trans "New Process" %}</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  {% for recipe in recipes %}
    <div class="s12 m6 col">
      <div class="card">
        <div class="card-content">
          <span class="card-title brown-text">{{recipe.name}}</span>

          <p class="recipe-item"><span class="bold">{% trans "Recipe description:" %}</span><br> {{recipe.description}}</p>

          <p class="recipe-item"><span class="bold">{% trans "Malt:" %}</span> {{recipe.malt_weight}} kg<br> {{recipe.malt}}</p>

          <p class="recipe-item"><span class="bold">{% trans "Yeast:" %}</span><br> {{recipe.yeast}}</p>

          <div class="center">
            <form action="{% url 'new_process' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" value="{{recipe.id}}" name="recipe_id">
              <input type="submit" class="btn" value="Start Process">
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock main_content %}