.login-card {
  @extend .card;
  margin-top: 5rem;
}

.home-card {
    @extend .card;
    margin-top: 3rem;
}

.fgabreja-topbar {
  @extend .brand-logo;
  font-family: "PatuaOne";
}

.graph {
    width: 100%;
    height: 25rem;
}

.bold {
    font-weight: bold;
}

.collapsible-body{
    padding: 1rem 2rem 1rem;
    background-color: darken(white, 4%);
}

.recipe-item {
  margin: 1rem 0rem !important;
}

.process-info {
  padding-top: 3rem;
}